
@charset "UTF-8";

/*declaração de cores*/
*
{
    --cinza1:rgb(190, 188, 188);
    --cinza2:rgb(141, 141, 141); 
    --cinza3:rgb(105, 105, 105); 
    --cinza4:rgb(66, 66, 66); 
}

/*---CSS pagina para smartphone---*/

/*cor de fundo da pagina smartphone*/
#fundo-pg1
{
    background-color: var(--cinza1);
}

#inicio-pg1
{
    
}

#meio-pg1
{

}

/*ajuste da parte inicial*/
#inicio-1
{
    color:white;
    display: grid;
    place-items: center;   
    margin: 10px;  
}

/*ajuste da foto de perfil*/
#img-perfil-1
{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 30px var(--cinza4);
    transform: scale(1);
    transition: transform 0.3s ;
    transition: box-shadow 0.3s;
    position: relative; /* Adicionado para garantir que o box-shadow não afete o layout */
    z-index: 1; /* Adicionado para garantir que a imagem esteja acima de outros elementos */    
}
/*animação da foto de perfil*/
#img-perfil-1:hover
{
    transform: scale(1.1);
    transition: transform 0.3s ;
    box-shadow: 10px 10px 10px var(--cinza4);
    transition: box-shadow 0.3s;
}
/*configurações do botão da foto de perfil*/
#botao-perfil
{
    background-color: transparent;
    border: 0;
}
#meio-1
{

}
#final-pg1
{

}

/*---CSS pagina para descktop---*/

/*Animação das imagens na pagina principal(desktop)*/
#conjunto-img-1
{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;      
    gap: 50px;  
}
#conjunto-img-2
{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;      
    gap: 50px; 
}

#botao-flip-card
{
    background-color: transparent;
    border: 0;   
}

/*ajuste do tamanho e posição das imagens*/
.flip-card 
{    
    width: 40vw; /* 50% da largura da viewport */
    height: 40vw; /* Mantém proporção quadrada */
    max-width: 800px; /* Limita o tamanho máximo */
    max-height: 800px; /* Limita o tamanho máximo */
    perspective: 1000px;       
}
  
.flip-card-inner 
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner 
{
    transform: rotateX(180deg); /* Rotação vertical */
}
  
.flip-card-front, .flip-card-back 
{
    position: absolute;
    width: 100%;
    height: 100%; /* Faz a frente e o verso ocuparem o mesmo espaço */
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.flip-card-front 
{
    background-color: #fff;
}
  
.flip-card-front img 
{
    width: 100%;
    height: 100%; /* Faz a imagem preencher o espaço da frente */
    object-fit: cover; /* Ajusta a imagem para cobrir toda a área sem distorcer */
}
  
.flip-card-back 
{
    background-color: #2980b9;
    color: white;
    transform: rotateX(180deg); /* Rotação vertical */
}
  
  