
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');/* link da font do google*/

/*declaração de cores*/
*
{
    --cinza1:rgb(190, 188, 188);
    --cinza2:rgb(141, 141, 141); 
    --cinza3:rgb(105, 105, 105); 
    --cinza4:rgb(66, 66, 66);     
}

/*---CSS pagina para smartphone---*/

/*cor de fundo da pagina smartphone*/
#fundo-pg1
{
    background-color: var(--cinza1);/* Fundo da pagina smartphone*/
}

/*#inicio-pg1
{
    
}*/

#meio-pg1
{
    margin-top: 20px;/* Margem para fazer com que a imagens não fique colada na margem do topo do nagenador*/   
}

/*----------TITULO-SMARTPHONE----------*/
/*ajustes do titulo*/
#titulo-smartphone
{
    font-family: Roboto;/* Escolhe a fonte vinda do google*/    
    padding: 1px 30px;/* Deixa espaço de 1px na parte superior e inferior e de 50px nas laterais, para ter espaço em branco nas laterais da box*/
    color: black;/*cor do texto*/
    font-size: 20px;
}

/*ajuste da caixa do titulo*/
#box-titulo-smartphone 
{
    width: 380px;
    background-color: #fff;
    margin-top: 20px; /* Margem no topo */
    box-shadow: 10px 10px 20px var(--cinza4);
    border: 2px solid var(--cinza4); /* Borda preta de 2px */
    border-radius: 10px; /* Cantos arredondados */
    text-align: center;
    transform: scale(0.9);
    transition: transform 0.5s, box-shadow 0.5s; /* Transições suavizadas */
}
#box-titulo-smartphone:hover /*animação da caixa do titulo*/
{
    transform: scale(1.01);
    box-shadow: 10px 10px 7px var(--cinza4);
}

#social 
{
    width: 330px;
    background-color: #fff;
    margin-top: 20px; /* Margem no topo */
    box-shadow: 10px 10px 20px var(--cinza4);
    border: 2px solid var(--cinza4); /* Borda preta de 2px */
    border-radius: 10px; /* Cantos arredondados */
    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 30px; /* Margem superior */
}

.social-icon 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Largura fixa dos ícones */
    height: 60px; /* Altura fixa dos ícones */
    color: black; /* Cor dos ícones */
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
    margin: 0 25px; /* Margem horizontal */
}

.social-icon i 
{
    font-size: 30px; /* Ajusta o tamanho dos ícones dentro do link */
}

.social-icon:hover
{
    transform: scale(1.3); /* Aumenta o ícone na escala 1.1 */
}
#texto-apresentacao1
{
    font-family: Roboto;/* Escolhe a fonte vinda do google */        
    font-size: 15px;
    padding: 1px 20px;/* Deixa espaço de 1px na parte superior e inferior e de 50px nas laterais, para ter espaço em branco nas laterais da bo x*/
    color: black;/* Cor do texto */
}

#box-apresentacao-smartphone
{    
    width: 330px;
    background-color: #fff;
    margin-top: 20px; /* Margem no topo */
    box-shadow: 10px 10px 20px var(--cinza4);
    border: 2px solid var(--cinza4); /* Borda preta de 2px */
    border-radius: 10px; /* Cantos arredondados */
    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 30px; /* Margem superior */
}
#box-apresentacao-smartphone:hover /* animação da caixa da apresentação */
{
    transform: scale(1.1);
    transition: transform 0.5s ;
    box-shadow: 10px 10px 10px var(--cinza4);
    transition: box-shadow 0.5s;
}

/*ajuste das imagens na pagina para smartphone*/
#meio-1 
{
    margin-top: 30px; /* Margem no topo */
    display: flex;
    flex-direction: column; /* Itens em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    width: 100%; /* Ocupa toda a largura disponível */    
    margin-left: -5px;
}

#img-smartphone 
{
    display: flex; /* Flexbox ativado */
    flex-wrap: wrap; /* Permite quebra de linha para imagens */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 20px; /* Espaçamento entre as imagens */
}

#img-smartphone button 
{
    border: none; /* Remove a borda do botão */
    background: none; /* Remove o fundo do botão */
    padding: 0; /* Remove o padding do botão */
}

#img-smartphone img 
{
    max-width: 400px; /* Define a largura fixa das imagens */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem seja um bloco */
}
#img-smartphone :hover
{
    transform: scale(1.01);
    transition: transform 0.5s ;
    transition: box-shadow 0.5s;
    box-shadow: 10px 10px 20px var(--cinza2);
}

/*ajuste da parte inicial*/
#inicio-1
{
    color:white;
    display: grid;
    place-items: center;   
    margin: 10px;  
    margin-left: -5px;
}

/*ajuste da foto de perfil*/
#img-perfil-1
{
    background-color: #fff;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 30px var(--cinza4);
    transform: scale(1);
    transition: transform 0.3s, box-shadow 0.3s; /* Transições suavizadas */
    position: relative; /* Garantia para o box-shadow */
    z-index: 1; /* Garantia para a imagem */
}
/*animação da foto de perfil*/
#img-perfil-1:hover
{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px var(--cinza4);
}
/*configurações do botão da foto de perfil*/
#botao-perfil
{
    background-color: transparent;
    border: 0;
}

#botao-img-smartphone
{
    background-color: transparent;
    border: 0;
}
#final-pg1
{
    display: flex; /* Configura o contêiner como flexbox */
    align-items: center; /* Alinha verticalmente os itens no centro */
    justify-content: space-between; /* Espaça os itens igualmente entre a esquerda e a direita */
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 10px; /* Adiciona um pouco de padding ao redor */
    padding-right: 10px;
    margin-left: -4px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */      
}

#criador-pg1
{
    background-color: #fff;
    margin-top: 0px;/* Gera uma margem na parte superior box */     
    box-shadow: 10px 10px 20px var(--cinza4);
    border: 2px solid var(--cinza4); /* Define uma borda preta de 2px */
    border-radius: 10px; /* Arredonda os cantos da borda */
    text-align: center;
    transform: scale(1);
    transition: transform 0.5s ;
    transition: box-shadow 0.5s;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    width: 370px;
    
}
/*---CSS pagina para descktop---*/

#fundo-pg2
{
    background-color: var(--cinza1);/* Fundo da pagina desktop*/
}
#inicio-2 
{
    display: flex; /* Flexbox ativado */
    align-items: flex-start; /* Alinha no topo */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 30px; /* Espaçamento entre itens */
    padding: 20px; /* Espaçamento interno */
}
/*ajuste da foto de perfil desktop*/
#img-perfil-2
{
    background-color: #fff;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 30px var(--cinza4);
    transform: scale(1);
    transition: transform 0.3s ;
    transition: box-shadow 0.3s;
    position: relative; /* Adicionado para garantir que o box-shadow não afete o layout */
    z-index: 1; /* Adicionado para garantir que a imagem esteja acima de outros elementos */    
}
/*animação da foto de perfil desktop*/
#img-perfil-2:hover
{
    transform: scale(1.1);
    transition: transform 0.3s ;
    box-shadow: 10px 10px 10px var(--cinza4);
    transition: box-shadow 0.3s;
}

/* Ajuste das informações na lateral da foto de perfil da pagina desktop*/
#area-info-desktop 
{
    display: flex; /* Configura o contêiner como flexbox */
    flex-direction: column; /* Alinha os itens em uma coluna */
    align-items: center; /* Alinha os itens ao centro do contêiner */
    gap: 20px; /* Adiciona um espaçamento de 20px entre os itens */
}


/* Ajustes do titulo*/
#titulo-desktop
{
    font-family: Roboto;/* Escolhe a fonte vinda do google */    
    padding: 1px 10px;/* Deixa espaço de 1px na parte superior e inferior e de 50px nas laterais, para ter espaço em branco nas laterais da bo x*/
    color: black;/* Cor do texto */
}
/* Ajusta testo de apresentação*/
#texto-apresentacao2
{
    font-family: Roboto;/* Escolhe a fonte vinda do google */        
    font-size: 15px;
    padding: 1px 20px;/* Deixa espaço de 1px na parte superior e inferior e de 50px nas laterais, para ter espaço em branco nas laterais da bo x*/
    color: black;/* Cor do texto */
}
#texto-apresentacao .icon 
{
    font-size: 20px; /* Tamanho dos ícones */
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    vertical-align: middle; /* Alinha verticalmente os ícones com o texto */
}

/* ajuste da caixa do titulo */
#box-titulo-desktop
{    
    background-color: #fff;
    margin-top: 20px;/* Gera uma margem na parte superior box */     
    box-shadow: 10px 10px 20px var(--cinza4);
    border: 2px solid var(--cinza4); /* Define uma borda preta de 2px */
    border-radius: 10px; /* Arredonda os cantos da borda */
    text-align: center;
    transform: scale(1);
    transition: transform 0.5s ;
    transition: box-shadow 0.5s;
}
#box-titulo-desktop:hover /*animação da caixa do titulo*/
{
    transform: scale(1.1);
    transition: transform 0.5s ;
    box-shadow: 10px 10px 10px var(--cinza4);
    transition: box-shadow 0.5s;
}
/* ajuste da caixa da apresentação */
#box-apresentacao-desktop
{    
    background-color: #fff;
    margin-top: 10px;/* Gera uma margem na parte superior box */       
    box-shadow: 10px 10px 20px var(--cinza4);
    border: 2px solid var(--cinza4); /* Define uma borda preta de 2px */
    border-radius: 10px; /* Arredonda os cantos da borda */
    text-align: center;
    transform: scale(1);
    transition: transform 0.5s ;
    transition: box-shadow 0.5s;
}
#box-apresentacao-desktop:hover /* animação da caixa da apresentação */
{
    transform: scale(1.1);
    transition: transform 0.5s ;
    box-shadow: 10px 10px 10px var(--cinza4);
    transition: box-shadow 0.5s;
}
#social-desktop 
{
    width: 330px;   
    border-radius: 10px; /* Cantos arredondados */
    display: flex; /* Flexbox ativado */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 20px; /* Margem superior */   
}
.social-icon-desktop
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Largura fixa dos ícones */
    height: 60px; /* Altura fixa dos ícones */
    color: black; /* Cor dos ícones */
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
    margin: 0 25px; /* Margem horizontal */
}

.social-icon-desktop i 
{
    font-size: 40px; /* Ajusta o tamanho dos ícones dentro do link */
}

.social-icon-desktop:hover
{
    transform: scale(1.3); /* Aumenta o ícone na escala 1.1 */
}
#botao-fixo 
{
    position: fixed; /* Fixa o botão em relação à tela */
    bottom: 100px; /* Margem de 100px do final da página */
    right: 20px; /* Margem de 20px do lado direito da tela */
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
    background-color: white;       
    border: none; /* Remove a borda do botão */
    border-radius: 50%; /* Arredonda os cantos para fazer o botão ficar redondo */
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o botão */
    width: 60px; /* Define a largura do botão */    
    display: flex; /* Usa Flexbox para centralizar o conteúdo */
    align-items: center; /* Alinha o conteúdo verticalmente */
    justify-content: center; /* Alinha o conteúdo horizontalmente */
}
#whatsapp
{
    margin-left: 1px;
}


#sobre-desktop
{    
    background-color: #fff;
    margin-top: 20px;/* Gera uma margem na parte superior box */     
    box-shadow: 10px 10px 20px var(--cinza4);
    border: 2px solid var(--cinza4); /* Define uma borda preta de 2px */
    border-radius: 10px; /* Arredonda os cantos da borda */
    text-align: center;
    transform: scale(1);
    transition: transform 0.5s ;
    transition: box-shadow 0.5s;
    margin: 20px 50px 10px 50px;
    font-size: 20px;
    padding: 10px;
}
#box-titulo-desktop:hover /*animação da caixa do titulo*/
{
    transform: scale(1.1);
    transition: transform 0.5s ;
    box-shadow: 10px 10px 10px var(--cinza4);
    transition: box-shadow 0.5s;
}


/*Animação das imagens na pagina principal(desktop)*/
#conjunto-img-1
{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;      
    gap: 50px;  
}
#conjunto-img-2
{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;      
    gap: 50px; 
}

#botao-flip-card
{
    background-color: transparent;
    border: 0;   
}

/*ajuste do tamanho e posição das imagens*/
.flip-card 
{    
    width: 40vw; /* 50% da largura da viewport */
    height: 40vw; /* Mantém proporção quadrada */
    max-width: 800px; /* Limita o tamanho máximo */
    max-height: 800px; /* Limita o tamanho máximo */
    perspective: 1000px;       
}
  
.flip-card-inner 
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner 
{
    transform: rotateX(180deg); /* Rotação vertical */
}
  
.flip-card-front, .flip-card-back 
{
    position: absolute;
    width: 100%;
    height: 100%; /* Faz a frente e o verso ocuparem o mesmo espaço */
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.flip-card-front 
{
    background-color: #fff;
}
  
.flip-card-front img 
{
    width: 100%;
    height: 100%; /* Faz a imagem preencher o espaço da frente */
    object-fit: cover; /* Ajusta a imagem para cobrir toda a área sem distorcer */
}
  
.flip-card-back 
{
    background-color: var(--cinza2);
    color: white;
    transform: rotateX(180deg); /* Rotação vertical */
}
#final-pg2
{    
    background-color: #fff;
    margin-top: 20px;/* Gera uma margem na parte superior box */     
    box-shadow: 10px 10px 20px var(--cinza4);
    border: 2px solid var(--cinza4); /* Define uma borda preta de 2px */
    border-radius: 10px; /* Arredonda os cantos da borda */
    text-align: center;
    transform: scale(1);
    transition: transform 0.5s ;
    transition: box-shadow 0.5s;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    padding: 10px;
    width: 750px;
}
#qr-code 
{
    display: flex; /* Configura o contêiner como flexbox */
    align-items: center; /* Alinha verticalmente os itens no centro */
    justify-content: space-between; /* Espaça os itens igualmente entre a esquerda e a direita */
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 10px; /* Adiciona um pouco de padding ao redor */
    padding-right: 10px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */      
}

#qrcode 
{
    width: 350px;
    flex: 0 0 auto; /* Impede que a imagem cresça ou encolha, mantendo seu tamanho original */
}
#criador-box
{
    background-color: #fff;
    margin-top: 20px;/* Gera uma margem na parte superior box */     
    box-shadow: 10px 10px 20px var(--cinza4);
    border: 2px solid var(--cinza4); /* Define uma borda preta de 2px */
    border-radius: 10px; /* Arredonda os cantos da borda */
    text-align: center;
    transform: scale(1);
    transition: transform 0.5s ;
    transition: box-shadow 0.5s;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    padding: 10px;
    width: 750px;
}



  