
@charset "UTF-8";/*Adequação para acentuação*/
*/*declaração de cores*/
{
    --cinza1:rgb(190, 188, 188);
    --cinza2:rgb(141, 141, 141); 
    --cinza3:rgb(105, 105, 105); 
    --cinza4:rgb(66, 66, 66); 
}
#favicon
{
    border-radius: 50%;
}
#fundo-pg1
{
    background-color: var(--cinza1);
}
#inicio-pg1
{
    
}
#meio-pg1
{

}
#inicio
{
    color:white;
    display: grid;
    place-items: center;   
    margin: 10px;  
}
#img-perfil
{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 30px var(--cinza4);
    transform: scale(1);
    transition: transform 0.3s ;
    transition: box-shadow 0.3s;
    position: relative; /* Adicionado para garantir que o box-shadow não afete o layout */
    z-index: 1; /* Adicionado para garantir que a imagem esteja acima de outros elementos */    
}
#img-perfil:hover
{
    transform: scale(1.1);
    transition: transform 0.3s ;
    box-shadow: 10px 10px 10px var(--cinza4);
    transition: box-shadow 0.3s;
}
#botao-perfil
{
    background-color: transparent;
    border: 0;
}
#meio
{

}
#final-pg1
{

}
